:root {
    --primary-color: #4a5568;
    --secondary-color: #ffffff;
    --background-color: #2d3748;
    --custom-bg: #0b000c;
}

body {
    background-color: var(--background-color);
    color: var(--secondary-color);
}

nav {
    background-color: var(--custom-bg);
}

nav a:hover {
    text-decoration: underline;
}

#home {
    background-color: var(--custom-bg);
}

#home a {
    background-color: var(--primary-color);
}

#home a:hover {
    background-color: #718096;
}

#services div {
    background-color: #ffffff;
    color: #2d3748;
}

#about {
    background-color: #edf2f7;
}

#contact input,
#contact textarea {
    border-color: #e2e8f0;
    color: #2d3748;
}

#contact button {
    background-color: var(--primary-color);
}

#contact button:hover {
    background-color: #718096;
}

footer {
    background-color: var(--background-color);
}